#root {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  /* background-color: #e3f2fd; */
  padding-bottom: 10rem; /* add extra space in the bottom */
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-group {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.header-about {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border-width: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header-about:hover {
  background-color: aqua;
}

.header-title {
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.668);
  padding-bottom: 2rem;
}

form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  margin-top: 10px;
}

form div p {
  white-space: nowrap; /* Prevent text wrapping from a new line */
  width: 300px; /* set the fix width for label */
  margin: 0.5rem;
}

form div input,
form div select {
  width: 300px;
  height: 40px;
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
  padding: 2px; /* Adjust padding to match */
  font-size: 16px; /* Standardize font size */
  border-width: 3px;
  border-radius: 15px;
  padding-left: 10px;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border: 2px solid black;
  width: max-content; /* Only take space needed */
  padding: 1rem;
  margin: auto; /* Center horizontally */
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #f9f9f9;
}

.item-number {
  display: flex;
  justify-content: center;
}

.add-item-button,
.delete-item-button {
  display: block;
  margin: auto;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 0.5rem;
}

.generate-current-recipt-button {
  display: block;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: auto;
  padding: 5px 160px;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.error {
  font-size: 1rem;
  color: red;
}
